@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
* {	
	box-sizing: border-box;
	margin: 0;
  	padding: 0;
  	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}
header{
	width: 100%;
	background-color: #333;
}
.navbar{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
}
.navbar ul{
	list-style-type: none;
	display: flex;
}
.navbar ul li{
	padding: 10px;
}
.navbar ul li a{
	padding: 1em;
	border-radius: 12px;
	color: white;
}
.navbar ul li a:hover{
	background: #555;
}
.brand-title a{
	font-size: 1.5em;
	font-weight: 600;
	display: block;
	color: lightsalmon;
	padding: 1em;
}
#nav-email{
	color: lightgoldenrodyellow;
	display: block;
}
.toggle-btn{
	display: none;
	position: absolute;
	right: 2em;
	top: 1.6em;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}
.toggle-btn .bar{
	width: 100%;
	height: 3px;
	background-color: white;
	border-radius: 10px;
}
.wrapper{
	width: 80%;
	margin: 0 auto;
	background-color: #fff;
	height: 90vh;
}


@media screen and (max-width: 768px){
	.navbar{
		flex-direction: column;
		align-items: flex-start;
		height: initial;
	}
	.navbar-links{
		display: none;
		width: 100%;
	}
	.navbar-links ul{
		width: 100%;
		flex-direction: column;
	}
	.navbar-links ul li{
		text-align: center;
	}
	.navbar-links ul li a{
		padding: .5rem 1rem;
	}
	.navbar-links.active{
		display: flex;
	}
	.toggle-btn{
		display: flex;
	}
}